:root{
    --background: #141d26;
    --gray: #243447;
    --pinnk: #c51f5d;
    --offwhite: #e6e6e6;
    --hover: rgba(255, 255, 255, 0.25);
}

/* GLOBAL STYLE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--background);
    color: var(--offwhite);
}

.a{
    text-decoration: none;
}

.btn {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 900;
    color: var(--offwhite);
    background-color: var(--pinnk);
    border: 2px solid var(--offwhite);
    cursor: pointer;
    width: max-content;
    transition: 0.25s ease;
    }
.btn:hover{
        color: var(--pink);
        background-color:rgba(0, 0, 0, 0.65) ;
      }


.btn:focus {
    outline: 0;
  }

.container{
    padding: 5em;
    padding-top: 0;
}

.sectionTitle{
    font-size: 3em;
    margin: 40px;
    font-weight: normal;
    text-align: center  ;
}

.sectionMain{
    font-size: 1.4em;
    text-align: center;
}

/* NAV */
nav{
display: flex;
justify-content: space-around;
align-items: center;
min-height: 8vh;
background-color: var(--gray);
border-bottom: 6px solid var(--pinnk);
width: 100%;
position: fixed;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.2em;
}

.logo a{
    text-decoration: none;
    color: var(--offwhite);
}

.navLink{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.navLink li{
    list-style: none;
}

.navLink li a{
    color: var(--offwhite);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--offwhite);
}

/* LANDING */
#landing{
    background-image: url(image/photo-1555099962-4199c345e5dd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-bottom: 6px solid var(--pinnk);
}

.lanover{
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title, #subTitle{
    font-size: 2.5em;
    margin-bottom: 40px;
}

.buttonLanding{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#projectBtn{
    font-size: 1.3em;
}

#resumeBtn{
    font-size: 1.3em;
    margin-left: 25px;
}

/* PROJECT */

#cardGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.card{
    width: 300px;
}

.cardTitle{
    font-size: 1.5rem;
}

.cardBody{
    padding: 6px;
    width: 100%;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 0 0 10px 10px;
}

.projectImage{
    width: 300px;
    height: 300px;
}

.projectImage img{
    border-radius: 10px 10px 0 0;
}

.screenshot{
    height: 100%;
    width: 100%;
}


  /* MEDIA */
@media only screen and (max-width: 768px){
    .navLink{
        position: fixed;
        left: -100%;
        top: 4.8rem;
        flex-direction: column;
        background-color: #243447f3 ;
        display: flex;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 10px 27px rgba( 0, 0, 0, 0.5);
    }
    .navLink.active{
        left: 0;
    }
    
    .navLink li{
        margin: 2.5rem 0;
        /* border-bottom: 2px solid rgb(173, 173, 173); */
    }
    
    .hamburger{
        display: block;
        cursor: pointer;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    }

/* Section About Me */